/* GENERAL STYLE */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/*TRANSITION*/
a, .btn{
    transition: all 300ms ease;
}

/*DESKTOP NAV*/

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}


a{
    color: black;
    text-decoration: none;
    text-decoration-color:white ;
}

a:hover {
    color: rgb(232, 19, 19);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

.logo {
    font-size: 2rem;
}

logo:hover{
    cursor: default;
}




/*HAMBURGER MENU */

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:24px;
    width:30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;

}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display:block;
    padding: 10px;
    text-align: center;
    font-size: 1.5 rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style:none;

}

.menu-links.open {
    max-height: 300px;

}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45 deg) translate(10px,-5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

/*SECTIONS*/

section{
    padding-top: 4vh;
    height:96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display:flex;
}

#profile{
    display:flex;
    justify-content: center;
    gap:5rem;
    height:80vh;
}

.section__pic-container{
    display:flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
    
}

.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgb(83, 80, 80);
}

.title{
    font-size: 3rem;
    text-align: center;
}

#socials_container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

/*ICONS*/

.icon{
cursor: pointer;
height: 50px;
width: 50px;
object-fit: contain;
}

/*BUTTONS*/

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom:2rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}


.btn-color-1, .btn-color-2 {
    border: rgb(25, 24, 24) 0.1rem solid;
}


.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
    background: #fb7b7b;
}




.btn-color-1,
.btn-color-2:hover {
    background: rgb(253, 250, 250);
    color:rgb(232, 19, 19);
}



.btn-color-1:hover{
    background: rgb(228, 128, 128);
}


.btn-color-2{
    background: none;
}

.btn-color-2-hover{
    border: rgb(224, 133, 133) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

/*ABOUT SECTION */

#about .about-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4vh 0; /* Adjust the padding as needed */
}

#about .about-text {
    flex-basis: 50%;
    padding-right: 0 rem;
}




#about .info-boxes {
    flex-basis: 50%;
}

.info-box {
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap:15px;
    margin-bottom: 20 px; /*spacing between boxes*/
    max-width: 400px;
    margin-right: 20px;
    margin-left: 20px;
}

.info-box i {
    color:black;
    font-size: 2rem;
    
}

.info-box p {
    margin: 0;
    font-size: 1rem;
    color: black;
    flex-grow: 1;
}

.skills-list li {
    padding-left: 40px; /* Adjust based on the size of your icons */
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 10px; /* Space between items */
}


*{box-sizing: border-box}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: 0;
}

.mySlides {
    display: none;
}


.prev, .next{
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 0 3px 3px 0;
    user-select: none;
}

.next {
    right:0;
    border-radius: 3px 0 0 3px;
}


.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.text1 {
    color: rgb(244, 242, 242);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#about {
    padding: 80px 0;
    color: black;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0;
}

.about-col-1 {
    flex-basis: wrap;
    width: 100%;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}

.about-col-1 img {
    width: 50%; /* or your desired width */
    max-height: 700px; /* example height, adjust as needed */
    object-fit: cover; /* this will cover the area without distorting the aspect ratio */
    border-radius: 60px;


}

.about-col-2{
    flex-basis: calc(70% - 4rem);
    width: 100%;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;

}


.about-heading{
    flex-basis: 50%;
    width: 100%;
    padding: 0;
    margin-left: 10rem;
    margin-right: 2rem;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
}


.sub-title2{
    font-size: 60px;
    font-weight: 600;
    color: black;
    margin-left: 2rem;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: rgb(245, 49, 62);
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    

}

.tab-contents ul li span{
    
    font-size: 14px;
    
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display: block;
}

.active-tab{
    display: block;
}

.mySlides.active-slide {
    display: block;
  }







/* Adjustments for smaller screens */
@media (max-width: 768px){
    #about .about-container{
        flex-direction: column;
        padding: 4vh 2rem;
    }

    #about .about-text,
    #about .info-boxes{
        flex-basis: 100%;
    }

    .info-box{
        max-width: 100%;
    }
}

/* PROJECT SECTION */
#projects {
    padding: 30px 0;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.projects-list div{
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    background: #f6f3f3; 
    border-left: 10px;
    border-right: 10px;
    border-radius: 60px;
    transition: background 0.5s; transform: 0.5s;

}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}

.projects-list a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20;
    display: inline-block;
}

.projects-list div:hover{
    background: rgb(245, 131, 131);
    transform: translateY(-10px);


}



.learn-more{
    font-size: 13px;
    font-weight: 75;
    font-style: bold;
    color: rgb(226, 72, 72);
}

.time{
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    color: rgb(108, 106, 106);
}

.project-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
}


.project-image2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 14%;
}

.project-image3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.project-text{
    text-align:center;
}

h2{
    text-align: center;
}

#myexperience{
    padding: 50px 0;
    margin-bottom: 0;
}

.myexperience-text{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-left: 2rem;

}

.myexperience-text2{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(213, 18, 18);
    margin-left: 2rem;
    margin-bottom: 0;

}

.myexperience-text1{
    margin-left: 2rem;

}


.techniques {
    margin-top: 0;
}


.techniques-list{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 10px;
    border-right: 10px;
    border-radius: 60px;
}

.techniques-list div{
    padding: 2px;
    font-size: 13px;
    font-weight: 300;
    background: #f6f3f3; 
    border-left: 5px;
    border-right: 5px;
    border-radius: 60px;
    transition: background 0.5s; transform: 0.5s;

}

.techniques-list div i{
    font-size: 50px;
    margin-bottom: 10px;
    
}

#techniques {
    padding: 10px 0;
}
/*final version*/
.techniques-text{
    text-align:center;
}

.project-image5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.project-image55{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.project-image9{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9%;
}

.project-image10{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 14%;
}

.project-image99{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
}

.project-image100{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

.project-image33{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}


.techniques-list div:hover{
    background: rgb(245, 131, 131);
    transform: translateY(-10px);


}

